In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('lesson_2_data.csv', 
                 encoding = 'windows-1251',
                sep = ';')

In [11]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [13]:
df.shape

(292, 8)

In [16]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [18]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [17]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [3]:
df.rename(columns = {'Номер':'number',
                     'Дата создания':'create_date',
                     'Дата оплаты':'payment_date',
                     'Title':'title',
                     'Статус':'status',                     
                     'Заработано':'money',
                     'Город':'city',
                     'Платежная система':'payment_system'}, inplace = True)

In [27]:
df[['title','status']].head()

                         title    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

In [4]:
all_money = df.money.sum() #сохраним все деньги в переменную, потом сравним, чтобы ничего не потерять
print(all_money)

992103.5900000001

#### Найти суммарное кол-во всех денег по каждому из курсов, проранжировать курсы по кол-ву денег, и посмотреть разбивку по городам

In [7]:
money_by_city = df.groupby(['title','city'] , as_index = False).aggregate({'money':'sum'}).sort_values('money', ascending = False)
#Ключ - та колонка, которую хотим агрегировать - money

In [45]:
money_by_city.to_csv('money_by_city.csv', index = False)

#### Сколько было суммарно денег и сколько завершенных заказов для каждого продукта без группировки по городу.

In [19]:
money_by_title = df.query("status == 'Завершен'")\
.groupby('title', as_index = False)\
.aggregate({'money':'sum', 'number':'count'})\
.sort_values('money', ascending = False)\
.rename(columns = {'number':'success_orders'})

In [20]:
from datetime import datetime

In [22]:
today_date = datetime.today().strftime('%Y-%m-%d')

In [23]:
file_name = 'money_title_{}.csv'

In [24]:
file_name.format(today_date)

'money_title_2023-01-17.csv'