In [1]:
import pandas as pd
import pandahouse as ph

In [4]:
connection = dict(database = 'test',
                  host = 'https://clickhouse.lab.karpov.courses',
                  user = 'student-rw',
                  password = '656e2b0c9c')

In [5]:
#пишем запрос и получаем данные из Clickhouse в DataFrame
query = """
select *
from test.installs
limit 1000
"""
df = ph.read_clickhouse(query, connection = connection)
df.head()

  InstallationDate  InstallCost Platform              DeviceID     Source
0       2019-03-02            0  android   7950068545577019282  Source_27
1       2019-03-17           49  android  17173992779193729517  Source_14
2       2019-04-07           56  android   9528182466778893591  Source_14
3       2019-06-25           39  android   2212531864415574595   Source_9
4       2019-04-13            0  android   6959033924999748551  Source_27

In [9]:
#выгружаем данные в эксель
df.to_excel("C:/Users/бвс/Carpov_Courses/python+sql/ch_data.xlsx", sheet_name = 'Data', index = False, encoding = 'UTF-8')

In [10]:
df_in = pd.read_csv('medium.csv', sep = '\t')

In [11]:
df_in.head()

,published,domain,url
0,2012-08-13 22:54:53.510Z,medium.com,https://medium.com/policy/medium-terms-of-serv...
1,2012-08-13 22:57:17.248Z,medium.com,https://medium.com/policy/medium-privacy-polic...
2,2016-11-04 23:40:43.364Z,medium.com,https://medium.com/@Medium/personalize-your-me...
3,2016-12-24 18:21:13.427Z,medium.com,https://medium.com/holiday-poems/xmas-morning-...
4,2015-09-22 21:37:48.207Z,blog.medium.com,https://blog.medium.com/taking-a-side-on-net-n...

In [14]:
query_create = """
CREATE TABLE test.mnaumov_import_test (
    published String,
    domain String,
    url String)
ENGINE = Log
"""
df_create = ph.read_clickhouse(query_create, connection = connection)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [15]:
ph.to_clickhouse(df_in, 'mnaumov_import_test', index = False,connection = connection)

92191

In [16]:
query_test = """
select *
from test.mnaumov_import_test
"""

df_new = ph.read_clickhouse(query_test, connection = connection)
df_new.head()

,published,domain,url
0,2016-08-15 14:55:38.940Z,medium.com,https://medium.com/@RaceNote/joe-gibbs-racing-...
1,2016-02-10 21:28:32.379Z,medium.com,https://medium.com/@emlong_40534/at-the-lamp-w...
2,2013-06-22 17:37:43.530Z,medium.com,https://medium.com/@secos/commune-6bb05998323f
3,2015-11-20 19:37:56.306Z,medium.com,https://medium.com/elixir-magic/setting-up-dig...
4,2015-12-25 18:45:28.294Z,medium.com,https://medium.com/@secos/i-presume-this-artic...