In [1]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [2]:
token = 'vk1.a.jwlOYgpJAGmZ7yPTKoCP3OatA2orGFHugOY98R2nVLHjQZxrN3munGpHgUO8liqHU41cxNfb1YRXJxc0FEMbWF3I4pVcrw8aNZwDKJhk_6bH7CdTy_fvULuzB8Ysf13JXbpbmkx_n8ZE_8xjld37NYJ3jVEDFMiUOVRNupk_LEjBWMV63p5G7zo6rc6GwNKbBz3KD5FCITnt-Z_9Zjt54g'

In [3]:
vk_session = vk_api.VkApi(token = token)
vk = vk_session.get_api()

In [6]:
vk.messages.send(
        chat_id = 1,
        random_id = 1,
        message = 'Приветики-пистолетики. Это я шлю сообщения из питона')

0

In [8]:
df = pd.read_csv('ads_data.csv.zip', compression= 'zip')

In [9]:
df.head()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29

In [11]:
ad_data = df.groupby(['ad_id','event'], as_index = False)\
    .agg({'user_id':'count'})

In [17]:
ad_data = ad_data.pivot(index = 'ad_id', columns = 'event', values = 'user_id').reset_index()

In [18]:
ad_data = ad_data.fillna(0).assign(ctr = ad_data.click / ad_data.view)

In [19]:
ad_data.head()

event  ad_id  click    view       ctr
0          3    9.0   490.0  0.018367
1       2132    1.0    95.0  0.010526
2       2276    2.0  1454.0  0.001376
3       2475    0.0   132.0       NaN
4       2643    3.0   286.0  0.010490

In [23]:
top_ctr = ad_data.query('click >= 20 and view > 100').sort_values('ctr').tail(10)

In [24]:
top_ctr.to_csv('top_ctr_data.csv', index = False)

In [25]:
path = 'C:/Users/бвс/Carpov_Courses/Python_Lessson7/top_ctr_data.csv'
file_name = 'top_ctr_data.csv'

path_to_file = path
upload_url = vk.docs.getMessagesUploadServer(peer_id = 2000000001)['upload_url']
file = {'file': (file_name, open(path_to_file, 'rb'))}

response = requests.post(upload_url, files = file)

json_data = json.loads(response.text)
json_data

{'file': '4258063|0|-1|237331|5ab18c319e|csv|414|top_ctr_data.csv|0daa7cbb9ed1b44635a170efe69745c3|12e61e114225a7a97159f973bbe45737||||eyJkaXNrIjo1MiwicGVlcl9zZW5kZXIiOiItMTE0MjUwMzcwIn0='}

In [26]:
saved_file = vk.docs.save(file = json_data['file'], title = file_name)

In [28]:
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

In [31]:
vk.messages.send(
        chat_id = 1,
        random_id = 3,
        message = 'Заряжаем файлик',
        attachment = attachment)

0