In [1]:
import pandas as pd
import seaborn as sns

In [30]:
df = pd.read_csv('5_data.csv.zip', compression='zip', encoding = 'windows-1251')

In [12]:
df.shape

(541909, 8)

In [25]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [31]:
df = df.drop_duplicates()

In [13]:
df.duplicated().sum()
#проверим кол-во дубликатов во всем датафрейме

5268

In [15]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [33]:
df['Is_cancled'] = df.InvoiceNo.apply(lambda x: True if x.startswith('C') else False)

In [36]:
df.Is_cancled.unique()

array([False,  True])

In [37]:
df.query("Is_cancled == True").head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Is_cancled
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom,True
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom,True
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom,True
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom,True
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom,True

In [38]:
df.InvoiceNo.str.startswith('C').sum()

9251

In [39]:
df = df.query('Quantity > 0')

In [40]:
df.shape

(526054, 9)

In [58]:
new_df = df.query("Country == 'Germany'")\
    .groupby('CustomerID', as_index = False)\
    .agg({'InvoiceNo':'nunique'})\
    .query('InvoiceNo > InvoiceNo.quantile(q = 0.8)')\
    .reset_index(drop=True)

In [59]:
germany_top = new_df['CustomerID']

In [57]:
type(germany_top)

pandas.core.series.Series

In [61]:
top_retail_germany  = df[df.CustomerID.isin(germany_top)]

In [62]:
top_retail_germany.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Is_cancled
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany,False
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany,False
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany,False
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany,False
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany,False

In [63]:
top_retail_germany.groupby('StockCode')\
    .agg({'Description':'count'})\
    .sort_values('Description', ascending = False)

           Description
StockCode
POST               213
22326               52
22328               38
22423               34
20719               30
...                ...
22563                1
22569                1
22574                1
22576                1
22662                1

[1158 rows x 1 columns]

In [66]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Is_cancled,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,False,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,False,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,False,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,False,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,False,20.34

In [65]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

C:\Users\бвс\AppData\Local\Temp\ipykernel_6532\1491108619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [68]:
df.groupby('InvoiceNo', as_index = False)\
    .agg({'Revenue':'sum'})\
    .sort_values('Revenue', ascending = False)

      InvoiceNo    Revenue
20689    581483  168469.60
2202     541431   77183.60
17582    574941   52940.94
18251    576365   50653.91
9034     556444   38970.00
...         ...        ...
10074    558724       0.00
10075    558725       0.00
10150    558889       0.00
20726   A563186  -11062.06
20727   A563187  -11062.06

[20728 rows x 2 columns]