In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
data = pd.read_csv('RFM_ht_data.csv', parse_dates=['InvoiceDate'], dtype = {'CustomerCode':'string'})

In [13]:
data.dtypes

InvoiceNo               object
CustomerCode            string
InvoiceDate     datetime64[ns]
Amount                 float64
dtype: object

In [9]:
data.head()

        InvoiceNo CustomerCode InvoiceDate   Amount
0  C0011810010001     19067290  2020-09-01  1716.00
1  C0011810010017     13233933  2020-09-01  1489.74
2  C0011810010020     99057968  2020-09-01   151.47
3  C0011810010021     80007276  2020-09-01   146.72
4  C0011810010024     13164076  2020-09-01   104.00

In [15]:
data.groupby('CustomerCode', as_index = False)\
    .agg({'InvoiceDate':'count'})\
    .sort_values('InvoiceDate',ascending = False)\
    .head()

       CustomerCode  InvoiceDate
89388      19057820          204
44594      13215452          113
10347      13032521          106
97077      19080880           99
119951     99003061           90

In [16]:
# за текущую дату примем следующий день после последнего заказа
NOW = (data['InvoiceDate'].dt.floor('d').max() + pd.Timedelta(1, "d"))
NOW

Timestamp('2020-10-01 00:00:00')

In [18]:
print(data['InvoiceDate'].min())
print(data['InvoiceDate'].max())

2020-09-01 00:00:00
2020-09-30 00:00:00

Данные за 1 месяц

In [19]:
period = 30

In [20]:
#Добавляем количество дней, которые прошли после заказа
data['Days_after_Order'] = data['InvoiceDate'].apply(lambda x: (NOW - x).days)

In [21]:
data.head()

        InvoiceNo CustomerCode InvoiceDate   Amount  Days_after_Order
0  C0011810010001     19067290  2020-09-01  1716.00                30
1  C0011810010017     13233933  2020-09-01  1489.74                30
2  C0011810010020     99057968  2020-09-01   151.47                30
3  C0011810010021     80007276  2020-09-01   146.72                30
4  C0011810010024     13164076  2020-09-01   104.00                30

In [22]:
aggr = {
    'Days_after_Order': 'min',  # (Recency)
    'InvoiceDate': lambda x: len([d for d in x if d >= NOW - pd.Timedelta(period, "d")]), # the total number of orders in the last period (Frequency)
    'Amount':'sum'}

In [23]:
rfm = data.groupby('CustomerCode').agg(aggr).reset_index()\
    .rename(columns={'Days_after_Order': 'Recency', 'InvoiceDate': 'Frequency', 'Amount':'Monetary'})
rfm.head()

  CustomerCode  Recency  Frequency  Monetary
0     02213019       20          1   1609.20
1     02213042       23          3   9685.48
2     02213071       30          1    415.00
3     02213088       24          1    305.00
4     02213092       26          1   1412.88

Найдем R F M scores

In [25]:
quintiles = rfm[['Recency', 'Frequency', 'Monetary']].quantile([.25, .5, .75]).to_dict()
quintiles

{'Recency': {0.25: 3.0, 0.5: 9.0, 0.75: 17.0},
 'Frequency': {0.25: 1.0, 0.5: 2.0, 0.75: 3.0},
 'Monetary': {0.25: 765.0, 0.5: 1834.48, 0.75: 4008.84}}

In [26]:
def r_score(x):
    if x <= quintiles['Recency'][.25]:
        return 4
    elif x <= quintiles['Recency'][.5]:
        return 3
    elif x <= quintiles['Recency'][.75]:
        return 2
    else:
        return 1

def fm_score(x, c):
    if x <= quintiles[c][.25]:
        return 1
    elif x <= quintiles[c][.5]:
        return 2
    elif x <= quintiles[c][.75]:
        return 3
    else:
        return 4

In [27]:
rfm['R'] = rfm['Recency'].apply(lambda x: r_score(x))
rfm['F'] = rfm['Frequency'].apply(lambda x: fm_score(x, 'Frequency'))
rfm['M'] = rfm['Monetary'].apply(lambda x: fm_score(x, 'Monetary'))

In [28]:
rfm['RFM_score'] = rfm['R'].astype('string') + rfm['F'].astype('string') + rfm['M'].astype('string')